<nz-card nzTitle="Danh sách lớp">
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="upload" style="color: #286090"></span>
    </p>
    <p class="ant-upload-text">
      Kéo thả hoặc click chuột vào đây để tải tài liệu lên
    </p>
  </nz-upload>
</nz-card>
<nz-card nzTitle="Danh sách nhóm chuyên môn">
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="upload" style="color: #286090"></span>
    </p>
    <p class="ant-upload-text">
      Kéo thả hoặc click chuột vào đây để tải tài liệu lên
    </p>
  </nz-upload>
</nz-card>
<nz-card nzTitle="Danh sách đồ án">
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="upload" style="color: #286090"></span>
    </p>
    <p class="ant-upload-text">
      Kéo thả hoặc click chuột vào đây để tải tài liệu lên
    </p>
  </nz-upload>
</nz-card>
<nz-card nzTitle="Thời khóa biểu">
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="upload" style="color: #286090"></span>
    </p>
    <p class="ant-upload-text">
      Kéo thả hoặc click chuột vào đây để tải tài liệu lên
    </p>
  </nz-upload>
</nz-card>
