<div style="height: 90vh">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a>QUẢN LÝ DỮ LIỆU</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Quản lý thời khóa biểu </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <nz-divider></nz-divider>
  <div class="filter-container">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="6">
        <nz-select
          class="w-100"
          nzMode="tags"
          nzPlaceHolder="Tìm kiếm theo tên hoặc mã"
          [(ngModel)]="request.listTextSearch"
          (ngModelChange)="nzOnSearch($event)"
        >
        </nz-select>
      </div>
      <div nz-col nzSpan="4">
      </div>
      <div nz-col nzSpan="14" class="d-flex justify-content-end">
        <app-button-base
          iconClass="fa-solid fa-rotate-right"
          titleTooltip="Tải lại"
          [isShowTooltip]="true"
          (onClick)="handleReload($event)"
        >
        </app-button-base>
      </div>
    </div>
  </div>
  <div class="table-container pt-2">
    <nz-table
      #basicTable
      [nzData]="listOfData"
      [nzBordered]="false"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ y: scrollY }"
      [nzFooter]="footer"
      [nzLoading]="isLoadingTable"
    >
      <thead>
        <tr>
          <th nzWidth="8%">ID lớp</th>
          <th class="text-left" nzWidth="15%">Tên môn học</th>
          <th class="text-left" nzWidth="10%">Loại môn học</th>
          <th class="text-left" nzWidth="10%">Mã môn học</th>
          <th class="text-center" nzWidth="10%">Nhóm ngành</th>
          <th class="text-center" nzWidth="auto">Lịch học</th>
          <th class="text-left" nzWidth="5%">GD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data?.code }}</td>
          <td>{{ data?.name }}</td>
          <td class="text-center">{{ data?.type }}</td>
          <td class="text-center">{{ data?.courseName }}</td>
          <td class="text-center">{{ data?.groupName }}</td>
          <td>{{ data?.timeTable }}</td>
          <td>{{ data?.gdTeaching }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <ng-template #footer>
    <app-footer-table
      [size]="request.size"
      [page]="request.page"
      [total]="total"
      (onPageIndexChange)="nzPageIndexChange($event)"
    ></app-footer-table>
  </ng-template>
</div>
