:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 64px;
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #286090;
}

.sidebar-logo {
  position: relative;
  height: 46px;
  padding-left: 15px;
  overflow: hidden;
  line-height: 46px;
  background: #286090;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  padding-bottom: 6px;
}

.sidebar-logo h5 {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.no-hover:hover {
  color: inherit; /* Duy trì màu gốc khi hover */
}

.app-header {
  display: flex;
  position: relative;
  height: 46px;
  padding-top: 6px;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  background: #286090 !important;
}

.inner-content {
  background: #fff;
  height: 100%;
}

.app-header h5 {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

:host ::ng-deep {
  .ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #fff;
    transition: all 0.2s;
  }
  .ant-layout-header {
    height: 46px;
    line-height: 46px;
    color: #fff;
  }
  .ant-menu {
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
    font-size: 13px;
    color: #000000;
    list-style: none;
    font-weight: 500;
  }
  .ant-breadcrumb {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    padding-top: 11px;
}
.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 0px 0;
}
  body {
    font-family: 'Quicksand', sans-serif;
  }

  .ant-menu-submenu-title{
    display: flex;
    align-items: center;
  }
  
  .ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #286090;
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    position: relative;
    padding: 4px 16px;
    overflow-wrap: break-word;
  }
  .ant-table-footer {
    padding: 4px;
    color: rgba(0, 0, 0, 0.85);
    background: #fafafa;
 }
 .ant-pagination-item {
  border: 1px solid #286090;
  border-radius: 4px;
  }

  .ant-pagination-item-active a {
    color: #286090;
}
}

