<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h5>Trường ĐH Bách Khoa HN</h5>
      </a>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item class="d-flex align-items-center">
        <span nz-icon nzType="dashboard"></span>
        <span><a routerLink="/dashboard">TRANG CHỦ</a></span>
      </li>
      <li *ngIf="userRole == 'Leader'" nz-menu-item class="d-flex align-items-center">
        <span nz-icon nzType="file-add"></span>
        <span><a routerLink="lecturer/import-data"></a>THÊM DỮ LIỆU </span>
      </li>

      <li *ngIf="userRole == 'Leader'" nz-submenu nzTitle="QUẢN LÝ DỮ LIỆU" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/lecturer-management">Quản lý giảng viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/project-management">Quản lý đồ án</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/aspiration-management"
              >Quản lý nguyện vọng</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/professional-group-management"
              >Quản lý nhóm chuyên môn</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/class-management">Quản lý thời khóa biểu</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="PHÂN CÔNG GIẢNG VIÊN" nzIcon="solution">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/teaching-assignment">Giảng dạy</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/project-assignment">Hướng dẫn đồ án</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="KIỂM TRA PHÂN CÔNG" nzIcon="verified">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/teaching-not-assignment"
              >Lớp chưa được phân công</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lecturer/project-not-assignment"
              >Nguyện vọng chưa được phân công</a
            >
          </li>
        </ul>
      </li>
      <li nz-menu-item class="d-flex align-items-center">
        <span nz-icon nzType="setting"></span>
        <span>TÀI KHOẢN</span>
      </li>
    </ul>
    <!-- <router-outlet></router-outlet> -->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger no-hover"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <h5>
          HỆ THỐNG PHÂN CÔNG GIẢNG DẠY VÀ PHÂN CÔNG HƯỚNG DẪN ĐỒ ÁN CHO GIẢNG
          VIÊN ĐẠI HỌC
        </h5>
        <div class="d-flex" style="margin-right: 32px">
          <nz-avatar
            nz-dropdown 
            [nzDropdownMenu]="menu"
            nzSize="small"
            nzIcon="user"
            style="margin-bottom: 6px"
          ></nz-avatar>
          <p style="padding-left: 8px; margin-top: 4px">{{ userName }}</p>
        </div>
      </div>
    </nz-header>
    <!-- Dropdown Menu -->
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <!-- <li nz-menu-item>Thông tin tài khoản</li> -->
        <li nz-menu-item (click)="logout()">Đăng xuất</li>
      </ul>
    </nz-dropdown-menu>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
